@import '../../../assets/designs/_variables.scss';

.guide {
    padding: 16px 0 8px;
}

.top-header {
 font-weight: 900 !important;  
}

@media #{$maxmediumMobileScreen}{
	.user-guide-upwrapper{
		display: block;
		text-align: center;
		margin: auto;
	}
	.guide-content{
		width: auto !important;
	}
	.guide-content .required{
		font-size: 12px;
	}

}

@media #{$mobileScreen}{
	@-moz-document url-prefix() {
		.user-guide-upwrapper{
			display: block;
		}
		.required{
			font-size: 13px;
		}

	}
}


.guide-content {
    width: 100%;
    border-radius: 2px;
    text-align: left;
    margin-bottom: 10px;
    padding: 32px 40px;
    color: black;

    .required {
        font-weight: 600;
    }

    &.content-1 {
        background: lighten(rgb(48, 112, 207), 40%);
        border: 1px solid darken(rgb(48, 112, 207), 20%);
    }
    
    &.content-2 {
        background: lighten(rgb(237, 125, 49), 40%);
        border: 1px solid darken(rgb(237, 125, 49), 20%);
    }

    &.content-3 {
        background: lighten(rgb(112, 173, 71), 40%);
        border: 1px solid darken(rgb(112, 173, 71), 20%);
    }

    &.content-4 {
        background: lighten(rgb(255, 192, 0), 40%);
        border: 1px solid darken(rgb(255, 192, 0), 20%);
    }

    &.last-div {
        // height: 162px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.optional {
    color: blue;
    font-weight: 600;
}

.guide-title {
    padding-top: 16px;
    padding-bottom: 8px;
    justify-content: flex-start !important;

    &.step-1 {
        background: rgb(48, 112, 207);
        border: 1px solid darken(rgb(48, 112, 207), 20%);
        color: white;
        font-weight: 600;
        margin-bottom: -16px;
				// z-index: 2;
				z-index: 1;
    }

    &.step-2 {
        background: rgb(237, 125, 49);
        border: 1px solid darken(rgb(237, 125, 49), 20%);
        color: white;
        font-weight: 600;
        margin-bottom: -16px;
				// z-index: 2;
				z-index: 1;
    }

    &.step-3 {
        background: rgb(112, 173, 71);
        border: 1px solid darken(rgb(112, 173, 71), 20%);
        color: white;
        font-weight: 600;
        margin-bottom: -16px;
				// z-index: 2;
				z-index: 1;
    }

    &.step-4 {
        background: rgb(255, 192, 0);
        border: 1px solid darken(rgb(255, 192, 0), 20%);
        color: white;
        font-weight: 600;
        margin-bottom: -16px;
				// z-index: 2;
				z-index: 1;
    }
}

.paragraph-line {
    white-space: pre-line;
}

.guide-container > .border-bottom {
    margin-bottom: 12px;
    text-align: center;
}

.user-guide-step-arrow-down {
    align-self: flex-start;
    margin-left: 30px;
    color: rgb(134, 134, 134);

    &.first-arrow {
        margin-left: 14px;
    }
}
