@import '../../assets/designs/variables';

.job-offer-detail-bg {
  min-height: 100vh;
}

.job-offer-main-title {
  background: #F7F8F9 !important;
  color: $colorDarkBlue !important;
  font-weight: lighter !important;
  border-bottom: none !important;
  font-size: 1.5rem !important;

  a {
    color: $colorDarkBlue !important;
    font-weight: normal !important;
  }
}

.job-offer-detail-section {
  background: #ffffff;
  padding-bottom: 20px;
  border-bottom: 35px solid #F7F8F9;
}

.job-offer-detail-header {
  color: #000000;
  font-weight: bolder;
  padding: 20px 15px;
  font-size: 1.2rem;
}

.job-offer-detail-individual {
  padding: 0 25px;
}

.job-offer-detail-two-element-multispan {
  @include grid(1fr 3fr, auto);

  label, .required, .job-offer-detail-two-element-solo-1 {
    @include grid-column(1, 1);
  }

  span, .job-offer-detail-image-main-container, #hataraki_kata_area, .job-offer-detail-two-element-solo-2, .job-offer-detail-four-element, .job-offer-detail-two-element {
    @include grid-column(2, 1);
    display: flex;
  }

  .job-offer-detail-two-element-multispan-2 {
    -ms-grid-column: 2;
  }
}

.job-offer-detail-two-span {
  padding: 12px 5px 4px 5px;
  overflow: auto;
}

.job-offer-detail-link-share {
  color: $colorTertiary !important;

  &:hover {
    color: $colorTertiary;
  }
}


.job-offer-detail-image-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  border: 1px solid #cfcfcf;
  margin-bottom: 5px;
  background: #EEF1F6;
  padding: 10px;
  text-align: center;
  overflow: hidden;

  > div {
    overflow: hidden;
    width: 200px;
    height: 200px;
  }

  > .job-offer-detail-video {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
}

.job-offer-detail-image {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.job-offer-detail-image-sub-caption {
  color: $colorSecondary;
}

.job-offer-detail-strengths-area {
  margin: 10px 0;
}

.job-offer-detail-two-element {
  @include grid(1fr 1fr, auto);
}

.job-offer-detail-three-element {
  @include grid(1fr 1fr 1fr, auto);

  .job-offer-detail-three-element-1 {
    @include grid-column(1, 1);
  }

  .job-offer-detail-three-element-2 {
    @include grid-column(2, 1);
  }

  .job-offer-detail-three-element-3 {
    @include grid-column(3, 1);
  }
}

.job-offer-detail-four-element {
  @include grid(1fr 1fr 1fr 1fr, auto);

  .job-offer-detail-four-element-1 {
    @include grid-column(1, 1);
  }

  .job-offer-detail-four-element-2 {
    @include grid-column(2, 1);
  }

  .job-offer-detail-four-element-3 {
    @include grid-column(3, 1);
  }

  .job-offer-detail-four-element-4 {
    @include grid-column(4, 1);
  }
}

.job-offer-detail-matching-calc-background {
  background: #D0CECE;
  padding: 0 10px 10px 10px;
  margin: 10px 0;
}

.job-offer-detail-time-info {
  text-align: center;
  background: #F2FBFA;
  margin: 10px 0;
  padding: 10px;
}

.job-offer-detail-question-area {
  margin: 15px 0 ;
}

.job-offer-detail-answer-area {
  margin-left: 30px;
  padding: 10px 0;
}

.job-offer-detail-answer-radio, .job-offer-detail-answer-checkbox {
  @include grid(20px 1fr, auto);

  .job-offer-detail-answer-radio-detail, .job-offer-detail-answer-checkbox-detail {
    -ms-grid-columns: 2;
  }

  .job-offer-detail-answer-checkbox-input {
    -ms-grid-columns: 1;
  }
}

.job-offer-detail-answer-radio-input {
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-grid-columns: 1;
}

.job-offer-detail-center-text {
  text-align: center;
}

.preserve-multiple-line {
  white-space: pre-line;
}
