.background-dynamic {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.dialog__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header {
    width: 100%;
    height: 80px;
    border-bottom: none;
}

.success-header {
    background: lighten(rgb(56, 149, 56), 45%);
    border-radius: 4px 4px 0 0;
}

.error-header {
    background: lighten(red, 45%);
}

.modal-body, .modal-footer {
    display: block;
    width: 100%;
    text-align: center;
}

.modal-body-logo {
    width: 120px !important;
    height: 120px !important;
    padding: 24px;
    font-size: 4rem;
    margin-top: -50px;
    color: white;
    border-radius: 50%;

    &.success-body {
        background: green;
    }

    &.error-body {
        background: red;
    }
}

.success-body > .modal-body-type {
    color: green;
}

.error-body > .modal-body-type {
    color: red;
}

.modal-body-type {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.modal-message {
    color: #333333;
}

.modal-footer {
    padding: 0;
    display: flex;
    > .btn {
        width: 100%;
        height: 70px;

        &:hover {
            background: #eeeeee;
        }
    }
}
